/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing:content-box;
          box-sizing:content-box;
  text-align: center;
  color: white;
}

body {
  background-color: rgb(37, 37, 37);
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0;
}

button {
  background: rgba(0, 0, 0, 0.6);
  padding: 1%;
  width: 6rem;
}

button:hover {
  background-color: black;
}

/*Header (Wake Boarding)*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: url("../assets/header-image.jpg") 100%/100% no-repeat;
}

.header__menu-button {
  width: 100%;
  text-align: start;
}

.header__title {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  text-align: center;
  order: 2;
  width: 50%;
  margin: 5% 0;
}

.header__arrow--background {
  padding: 1%;
  text-align: right;
  border: 1px solid black;
  background: rgba(0, 0, 0, 0.6);
}

.header__arrow--background:hover {
  background-color: black;
}

.header__left-arrow {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.header__right-arrow {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
}

/*First Section (Welcome)*/
.welcome-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: url("../assets/welcome-image.webp") center/cover no-repeat;
  padding: 5%;
}

/*Second Section (About and Events)*/
.about-events__article {
  padding: 5% 0;
}

.about-background {
  background: url("../assets/about-background.jpg") center/cover no-repeat;
}

.about-events--background {
  background: url("../assets/events-background.jpg") center/cover no-repeat;
}

/*Third Section (Instructors)*/
.instructors-section {
  background: url("../assets/instructors-background.jpg") 0/100% 100% no-repeat;
  padding: 5%;
}

.instructors-section__list {
  list-style: none;
  padding: 0;
}

.instructors-section__photo {
  border-radius: 5%;
}

.subtitle-red {
  color: red;
}

.subtitle-blue {
  color: blue;
}

.subtitle-green {
  color: green;
}

/*Fourth Section (Photos)*/
.photos-section {
  padding: 5% 0;
}

.photos-section__imgs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.photos-section__images {
  width: 25%;
}

/*Fifth Section (News)*/
.news-section {
  background: url("../assets/news-background.jpg") 0/100% 100% no-repeat;
  padding: 5%;
}

.news-section__list {
  list-style: none;
  padding: 0;
}

.news-section__items-title {
  border-radius: 5%;
  width: 80px;
  width: 5rem;
  margin: auto;
  padding: 1%;
}

.news-section__items-title--ruby {
  background-color: rgb(165, 42, 73);
}

.news-section__items-title--orange {
  background-color: rgb(165, 122, 42);
}

.news-section__items-title--blue {
  background-color: rgb(100, 149, 237);
}

/*Footer*/
.footer {
  background: url("../assets/footer-background.jpg") 0 / cover no-repeat;
}

.footer__address-container {
  padding: 5%;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.footer__last-div {
  background-color: rgb(37, 37, 37);
  font-size: 8px;
  font-size: 0.5rem;
  padding: 3%;
}

/*-----------------------------------------------------------------------------*/

@media (min-width: 540px) {
  h2 {
    font-size: 2rem;
  }

/*Header (WAke Boarding)*/
  .header__title {
    font-size: 3rem;
    padding: 5% 0;
  }

/*First Section (Welcome)*/
.welcome-section__text {
  width: 50%;
  margin: 5% auto;
}

/*Footer*/
  .footer__item-list {
    width: 15%;
  }

  .footer__facebook-logo,
  .footer__twitter-logo {
    width: 50%;
  }
}

/*----------------------------------------------------------------------------*/

@media (min-width: 820px) {
  /*Header (Wake Boarding)*/
  .header__title {
    width: 45%;
    padding: 5% 0;
  }

  /*First Section (Welcome)*/
  .welcome-section__text {
   width: 50%;
   margin: 5% auto;
  }
}


/*----------------------------------------------------------------------------*/

@media (min-width: 910px) {
  body {
    font-size: 1.5rem;
  }

  button {
    width: 10rem;
  }

/*Header (Wake Boarding)*/
  .header__title {
    font-size: 4rem;
    padding: 5% 0;
  }

/*First Section (Welcome)*/
  .welcome-section {
    padding: 10% 0;
  }
}

/*----------------------------------------------------------------------------*/

@media (min-width: 1205px) {
/*Header (Wake Boarding)*/
  .header__title {
    width: 30%;
  }
}

/*----------------------------------------------------------------------------*/

@media (min-width: 1400px) {
  body {
    font-size: 1.5em;
    margin: 0 5%;
  }

  h2 {
    font-size: 2.5rem;
  }

  button {
    width: 10rem;
  }

  /*Header (Wake Boarding)*/
  .header__title {
    width: 25%;
  }

  .header__menu-button {
    font-size: 2rem;
  }

  /*First Section (Welcome)*/
  .welcome-section__text {
    width: 50%;
    margin: 5% auto;
  }

  /*Second Section (About and Events)*/
  .about-events-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .about-events__article {
    padding: 5%;
  }

  /*Third Section (Instructors)*/
  .instructors-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .instructors-section__item-list {
    width: 33%;
  }

  /*Fifth Section (News)*/
  .news-section__items-title {
    width: 5rem;
    padding: 1%;
  }

  .news-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .news-section__list-item {
    width: 33%;
  }

  /*Footer*/
  .footer__address-container {
    width: 33%;
  }

  .footer__facebook-logo,
  .footer__twitter-logo {
    width: 100%;
  }
}
