* {
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

hr {
  display: none;
}

.container {
  background: rgb(25, 25, 25);
  min-width: 17.5rem;
}

.welcome-section__title,
.about-events__title,
.instructors-section__title {
  font-size: 2rem;
}

/*HEADER*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background: url("../assets/backgrounds/header-backgrounds-0.jpg") center/100% 100% no-repeat;
  min-height: 13rem;
  margin: auto;
}

.header__title span {
  font-size: 4rem;
  font-weight: normal;
}

.header__menu-button {
  position: absolute;
  font-weight: bolder;
  top: 0;
  left: 0;
}

.header__arrow-link {
  background: rgba(34, 34, 34, 0.7);
  padding: 0.3rem;
  border-radius: 2.5px;
}

.header__arrow-link:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.slider__arrow--left {
  order: -1;
}

/*WELCOME*/
.welcome-section {
  background: url("../assets/backgrounds/welcome-background.jpg") center / 100% 100% no-repeat;
  padding: 2rem;
}

.welcome-section__text {
  font-size: 0.6rem;
}

/*ABOUT and EVENTS*/
.about--background {
  background: url("../assets/backgrounds/about-background.jpg") center / 100% 100% no-repeat;
  padding: 2rem;
}

.events--background {
  background: url("../assets/backgrounds/events-background.jpg") center / 100% 100% no-repeat;
  padding: 2rem;
}

.about-events__title {
  margin: 1rem 0;
}

.about-events__text {
  font-size: 0.5rem;
}

.about-events__button {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
  border: none;
  font-weight: bolder;
}

.about-events__button:hover {
  background: black;
}

/*INSTRUCTORS*/
.instructors-section {
  background: url("../assets/backgrounds/instructors-background.jpg") left 60% center / 300% 100% no-repeat;
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 0.6rem;
}

.instructors-section__subtitle--red {
  color: rgb(196, 53, 53);
}

.instructors-section__subtitle--orange {
  color: rgb(229, 146, 18);
}

.instructors-section__subtitle--blue {
  color: rgb(33, 155, 202);
}

.instructors-section__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
}

.instructors-section__list-items {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.instructors-section__figure {
  order: -1;
  margin: 1rem 0;
}

/*PHOTOS*/
.photos-section {
  margin: 2rem 0;
}

.photos-section__imgs-container {
  display: flex;
  flex-wrap: wrap;
}

.photos-section__text {
  width: 90%;
  margin: 1rem auto;
}

.photos-section__images {
  width: 25%;
}

.photos-section__button {
  background: rgb(50, 50, 50);
  padding: 0.5rem 2rem;
  margin: 1rem;
  border: none;
  font-weight: bolder;
}

.photos-section__button:hover {
  background: black;
}

/*NEWS*/
.news-section {
  background: url("../assets/backgrounds/news-background.jpg") center / 100% 100% no-repeat;
  padding: 2rem;
}

.news-section__items-title {
  width: 40%;
  margin: 1rem auto;
  padding: 0.5rem;
  border-radius: 2px;
}

.news-section__items-title--ruby {
  background: rgb(196, 53, 53);
}

.news-section__items-title--orange {
  background: rgb(229, 146, 18);
}

.news-section__items-title--blue {
  background: rgb(33, 155, 202);
} 

.news-section__list-item {
  list-style: none;
  padding: 0 1rem;
}

.news-section__text {
  font-size: 0.5rem;
}

.news-section__button {
  background: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 2rem;
  border: none;
  font-weight: bolder;
}

.news-section__button:hover {
  background: black;
}

/*FOOTER*/
.footer__address-container {
  background: url("../assets/backgrounds/footer-background.jpg") center / 100% 100% no-repeat;
  padding: 2rem 1rem;
}

.footer__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}

.footer__last-div,
.footer__text {
  font-size: 0.5rem;
}

.footer__last-div {
  padding: 3rem 0;
}

/*--------------------BREAKPOINT 400px--------------------*/
@media (min-width: 399px) {
  /*HEADER*/
  .header__title {
    width: 40%;
  }

  /*WELCOME*/
  .welcome-section__text {
    width: 70%;
    margin: 1rem auto;
  }

  /*NEWS*/
  .news-section__items-title {
    width: 20%;
  }
}

/*--------------------BREAKPOINT 900px--------------------*/
@media (min-width: 900px) {
  .welcome-section__title,
  .about-events__title,
  .instructors-section__title,
  .photos-section__title,
  .news-section__title {
  font-size: 3rem;
}

  /*HEADER*/
  .header__title {
    line-height: 60px;
    margin: 20% 0;
    width: 50%;
    font-size: 5rem;
  }

  .header__title span {
    font-size: 10rem;
  }

  .header__arrow-link {
    font-size: 2rem;
    padding: 0.5rem;
  }

  /*WELCOME*/
  .welcome-section {
    padding: 5rem 0;
  }

  .welcome-section__text {
    width: 60%;
    line-height: 20px;
  }

  /*ABOUT and EVENTS*/
  .about-events-section {
    display: flex;
  }

  .about-events__text {
    width: 90%;
    margin: 1rem auto;
  }

  /*INSTRUCTORS*/
  .instructors-section {
    background: url("../assets/backgrounds/instructors-background.jpg") center / 100% 100% no-repeat;
    /*No sé como hacer para mover el background hacia la izquierda.*/
    padding: 2rem;
  }

  .instructors-section__list {
    flex-wrap: nowrap;
    margin: auto;
    width: 70%;
  }

  /*PHOTOS*/
.photos-section {
  padding: 5% 0;
}

  .photos-section__text {
    width: 60%;
  }

  /*NEWS*/
  .news-section__list {
    display: flex;
    width: 60%;
    margin: 2rem auto;
  }

  .news-section__items-title {
    width: 40%;
  }

  /*FOOTER*/
  .footer__address,
  .footer__text,
  .footer__list {
    width: 20%;
    margin: 0 20%;
  }

  .footer__address-container {
    padding: 5% 0;
  }
}

/*--------------------BREAKPOINT 1367px--------------------*/
@media (min-width: 1367px) {
  .container {
    max-width: 64rem;
    margin: auto;
  }
}  
